<style>
.containerCustom {
  border: 1px solid #FFFFFF;
  height: 150px;
  width: 400px;
  padding-left: 3px;
}

.containerCustom > ol
{
  display: flex;
  flex-flow: column wrap;
  height: inherit;
  width: inherit;
  margin:0;
}

.containerCustom > ol > li
{
  flex: 0 0 auto;
}
</style>


    <div class="page-header text-center">
        <h2 id="updatelist">Recent Updates</h2>
    </div>
    <ol class="containerCustom">
        {{#updates}}
        <li>{{text}} ; <strong>{{dateTime}}</strong></li>
        {{/updates}}
    </ol>
