<!DOCTYPE html>
<html>
<head>
    {{> partials/bootstrapLink}}

    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

    <!-- cool i changed the font -->

    <style>
        .container {
        font-family: 'Fjalla One', sans-serif;
        }


    </style>

</head>
<body>

{{> partials/navbar}}



<div class="container">
    <div class="row">
        <h3>About Me</h3>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                <p>This will be the about me page. All about me.  About nobody else.  Nobody cares about anybody else.
                    Lorem asum or whatever latin they always put as placeholders.  Let's put that here for now.  I can't
                    remember it all, so let's just assume all of this is that.

                </p>
            </div>
        </div>
    </div>
</div>


{{> partials/bootstrapScript}}

</body>
</html>


