<!DOCTYPE html>
<html>
<head>
    {{> partials/bootstrapLink}}



</head>
<body>

{{> partials/navbar}}

<img src="http://stockfresh.com/files/m/maridav/m/35/1598740_stock-photo-happy-asian-woman.jpg"
     class="center-block img-responsive" alt="Cinque Terre" width="300" height="300">




{{> partials/bootstrapScript}}

</body>
</html>


























<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--{{> partials/bootstrapLink}}-->

    <!--<style>-->
       <!--.jumbotron {-->
            <!--margin-top: 100px;-->
            <!--margin-bottom: 0px;-->
            <!--height: 400px;-->
            <!--background-image: url(http://www.spyderonlines.com/images/wallpapers/city-night-lights-wallpaper/city-night-lights-wallpaper-3.jpg);-->
            <!--background-position: 0% 25%;-->
            <!--background-size: cover;-->
            <!--background-repeat: no-repeat;-->
            <!--color: white;-->
            <!--text-shadow: black 0.3em 0.3em 0.3em;-->
<!--}-->

    <!--</style>-->

<!--</head>-->
<!--<body>-->

<!--{{> partials/navbar}}-->

<!--<div class="container">-->

    <!--<div class="jumbotron">-->
        <!--<h1>About Me</h1>-->
        <!--<p>This will be my about me page </p>-->
        <!--<p>It will look like this</p>-->

    <!--</div>-->

<!--</div>-->


<!--{{> partials/bootstrapScript}}-->

<!--</body>-->
<!--</html>-->