<!DOCTYPE html>
<html>
<head>
    {{> partials/bootstrapLink}}

    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

    <!-- cool i changed the font -->

    <style>
        .jumbotron {

        }

        .container {
        font-family: 'Fjalla One', sans-serif;
        }





    </style>

</head>
<body>

{{> partials/navbar}}



<div class = "container">

    <div class="page-header">
        <h1>About Me</h1>
        </div>

    <div class="jumbotron">
        <p>This is the about me section</p>



{{> partials/bootstrapScript}}

</body>
</html>


