

<!DOCTYPE html>
<html>
<head>
    {{> partials/bootstrapLink}}

    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

    <!-- cool i changed the font -->

    <style>
        .jumbotron {
        background-color:white;
        padding: 1px;

        }

        .container {
        font-family: 'Fjalla One', sans-serif;
        }

        .grey {
        color: 	#A9A9A9;
        }


    </style>

</head>
<body>


{{> partials/navbar}}

<div class="container">

    <div class="page-header">
        <h1>Resume</h1>
        <a href="https://drive.google.com/file/d/0B3NlC5QuG5K6WkZPbHFTdlVSYk0/view?usp=sharing" target="_blank">Download PDFVersion</a>
    </div>

    <div class="jumbotron">
        <h2><strong>Education</strong></h2>
            <p>University of Michigan
                <small> Ann Arbor, MI - <span class="grey"><i>Bachelor of Arts in Economics</i></span></small>
            </p>
            <p>The Iron Yard
                <small> Charlotte, NC - <span class="grey"><i>Backend Engineering - Java</i></span></small>
            </p>

        <br>
        <h2><strong>Technical Skills</strong></h2>
            <p>Languages:
                <small><span class="grey">Java, SQL, SPSS and exposure to Python, R and Hive/Hadoop</span></small>
            </p>
            <p>Frameworks:
                <small><span class="grey">Spring MVC, Hibernate, Spark</span></small>
            </p>
            <p>Build Tools:
                <small><span class="grey">Maven, Gradle</span></small>
            </p>
            <p>Database Systems:
                <small><span class="grey">PostgreSQL, H2</span></small>
            </p>
            <p>Version Control Systems:
                <small><span class="grey">Git</span></small>
            </p>
            <p>Other:
                <small><span class="grey">Github, Heroku,   Slack</span></small>
            </p>

        <br>
        <h2><strong>Experience</strong></h2>
            <p>Shutterstock
                <small> New York, NY - <span class="grey"><i>Data Analyst</i></span></small>
            </p>
            <p>Lieberman Research Worldwide
                <small> Los Angeles, CA - <span class="grey"><i>Senior Research Manager</i></span></small>
            </p>
    </div>
</div>


{{> partials/bootstrapScript}}

</body>
</html>