<!DOCTYPE html>
<html>
<head>
    {{> partials/bootstrapLink}}

    <style>
        body {
        margin-top:100px
    padding-top:20px
    padding-right:200px
}
#custom_carousel .item {

    color:#000;
    background-color:#eee;
    padding:20px 0;
}
#custom_carousel .controls{

    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#ddd
}
#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width:90px
}
#custom_carousel .controls li.active {
    background-color:#eee;
    border-top:3px solid orange;
}
#custom_carousel .controls a small {
    overflow:hidden;
    display:block;
    font-size:10px;
    margin-top:5px;
    font-weight:bold
}

    </style>


</head>
<body>
{{> partials/navbar}}

<div class="container">
    <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="2500">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3"><img src="http://placehold.it/350x250" class="img-responsive"></div>
                        <div class="col-md-9">
                            <h2>Education</h2>
                            <p>University of Michigan, Iron Yard, blah blah blah</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3"><img src="http://placehold.it/350x250" class="img-responsive"></div>
                        <div class="col-md-9">
                            <h2>Technical Skills</h2>
                            <p>Java, SQL, Spring, Hibernate blah blah blah</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3"><img src="http://placehold.it/350x250" class="img-responsive"></div>
                        <div class="col-md-9">
                            <h2>Experience</h2>
                            <p>Shutterstock, Lieberman, blah blah blah</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3"><img src="http://placehold.it/350x250" class="img-responsive"></div>
                        <div class="col-md-9">
                            <h2>Analytic Skills</h2>
                            <p>A/B testing, Regression, Cluster analysis, blah blah blah</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3"><img src="http://placehold.it/350x250" class="img-responsive"></div>
                        <div class="col-md-9">
                            <h2>Languages</h2>
                            <p>Mandarain blah blah blah</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item -->
        </div>
        <!-- End Carousel Inner -->
        <div class="controls">
            <ul class="nav">
                <li data-target="#custom_carousel" data-slide-to="0" class="active"><a href="#"><img
                        src="http://placehold.it/50x50">
                    <small>Education</small>
                </a></li>
                <li data-target="#custom_carousel" data-slide-to="1"><a href="#"><img src="http://placehold.it/50x50">
                    <small>Technical Skills</small>
                </a></li>
                <li data-target="#custom_carousel" data-slide-to="2"><a href="#"><img src="http://placehold.it/50x50">
                    <small>Experience</small>
                </a></li>
                <li data-target="#custom_carousel" data-slide-to="3"><a href="#"><img src="http://placehold.it/50x50">
                    <small>Analytical Skills</small>
                </a></li>
                <li data-target="#custom_carousel" data-slide-to="4"><a href="#"><img src="http://placehold.it/50x50">
                    <small>Languages</small>
                </a></li>
            </ul>
        </div>
    </div>
    <!-- End Carousel -->
</div>

<br>
<br>
<div>
    <a href="https://drive.google.com/file/d/0B3NlC5QuG5K6WkZPbHFTdlVSYk0/view?usp=sharing">Download PDF Version</a>
</div>







{{> partials/bootstrapScript}}

</body>
</html>



