<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html>
<head>
    {{> partials/bootstrapLink}}

    <style>
.contact-form{ margin-top:15px;}
.contact-form .textarea{ min-height:100px; resize:none;}
.form-control{ box-shadow:none; border-color:#eee; height:49px;}
.form-control:focus{ box-shadow:none; border-color:#00b09c;}
.form-control-feedback{ line-height:50px;}
.main-btn{ background:#00b09c; border-color:#00b09c; color:#fff;}
.main-btn:hover{ background:#00a491;color:#fff;}
.form-control-feedback {
line-height: 50px;
top: 0px;
}
    </style>

</head>
<body>

{{> partials/navbar}}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Recent Updates</h2>
            <form action="/add-update" method="post" role="form" id="contact-form" class="contact-form">
                <input type="text" name="name" placeholder="Update Name"/>
                <input type="text" name="dateTime" placeholder="Update Date"/>
                <input type="text" name="update" placeholder="Update Description"/>
            </form>
            <button type="button" id="add" class="btn btn-info">Add Update</button>
            <br/><br/>
            <div class="list"></div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>




</body>
</html>



