<!-- can delete this

<!DOCTYPE html>
<html>
<head>
    {{> partials/bootstrapLink}}

    <style>
.contact-form{ margin-top:15px;}
.contact-form .textarea{ min-height:100px; resize:none;}
.form-control{ box-shadow:none; border-color:#eee; height:49px;}
.form-control:focus{ box-shadow:none; border-color:#00b09c;}
.form-control-feedback{ line-height:50px;}
.main-btn{ background:#00b09c; border-color:#00b09c; color:#fff;}
.main-btn:hover{ background:#00a491;color:#fff;}
.form-control-feedback {
line-height: 50px;
top: 0px;
}
    </style>

</head>
<body>

{{> partials/navbar}}

<div class="container">
    <!-- need to figure out how to remove big space
    {{#user}}
    <h3>Add an update</h3>
    <div class="container">
        <form action="/add-update" method="post" role="form" id="contact-form" class="contact-form">
            <div class="container">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" autocomplete="off" id="Name"
                               placeholder="Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="dateTime" autocomplete="off" id="date"
                               placeholder="Update date/time">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" name="update" autocomplete="off" id="update"
                               placeholder="Update">
                        <button type="submit" class="btn main-btn pull-right">Add Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {{/user}}
    {{^user}}
    {{/user}}

    {{> partials/updatesList}}

</div>




</body>
</html>



-->