<!DOCTYPE html>
<html>
<head>
    {{> partials/bootstrapLink}}

    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

    <style>

    .container {
    font-family: 'Fjalla One', sans-serif;
    }

    .inputfield {
    width: 90px;
    height: 390px;
    border: 1px
    solid #999999;
    padding: 5px;
    }



    </style>

</head>
<body>

{{> partials/navbar}}

<div class="container"> <!--everything in a container -->

    {{#user}}
    <div class="row">
        <!-- <div class="col-md-6"></div> -->
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <h2>Add an Update</h2>
                <form action="/add-update" method="post">
                    <input type="text" name="update" placeholder="Add update"/>
                    <input type="text" name="dateTime" placeholder="Add date of update"/>
                    <button type="submit" class="btn btn-primary btn-sm">Add Update</button>
                </form>
                {{/user}}
                {{^user}}
                {{/user}}

                <br/><br/>
                <div class="list"></div>
                {{> partials/updatesList}}
            </div>
        </div>
    </div>
</div>


</body>
</html>




